@import "/src/assets/styles/_vars.scss";
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    border-bottom: 1px solid #ddd;
    background-color: white;
    position: sticky;
    top: 0;
}
.header-content {
    padding-top: 29px;
    padding-bottom: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.list {
    display: flex;
    align-items: center;
    gap: 52px;
}
.list > a {
    color: $primaryTextColor;
    font-size: 20px;
    font-weight: 400;
}
.btns {
    display: flex;
    align-items: center;
    gap: 30px;
    & button {
        background: none;
    }
}
.mob-line-1 {
    display: none;
}
.mob-line-1 {
    display: none;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
    .mob-line {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #dddddd;
        order: 3;
    }

    .header-content {
        flex-wrap: wrap;
        gap: 15px;
        padding-top: 10px;
        padding-bottom: 18px;
    }
    .header-content > a {
        order: 1;
        padding-left: 20px;
    }
    .list {
        order: 4;
        justify-content: space-between;
        width: 100%;
        padding: 0 20px;
    }
    .btns {
        order: 2;
        padding-right: 20px;
    }
}
