@import "/src/assets/styles/_vars.scss";
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    border-bottom: 1px solid #ddd;
    background-color: white;
    position: sticky;
    top: 0;
}
.header-content {
    padding-top: 29px;
    padding-bottom: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.list {
    display: flex;
    align-items: center;
    gap: 52px;
    & > a {
        color: $primaryTextColor;
        font-size: 20px;
        font-weight: 400;
    }
    &-mob {
        display: none;
    }
}
.btns {
    display: flex;
    align-items: center;
    gap: 30px;
    & button {
        background: none;
    }
}
.burger {
    display: none;
}
.mob-line-2 {
    display: none;
}

@media (max-width: 768px) {
    .container {
        max-width: 100%;
        padding: 0;
    }
    .mob-line-1 {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #dddddd;
        order: 3;
    }

    .header-content {
        flex-wrap: wrap;
        gap: 15px;
        padding-top: 13px;
        padding-bottom: 20px;
        & > a {
            order: 1;
            padding-left: 25px;
        }
    }
    .list {
        order: 4;
        justify-content: space-between;
        gap: 0;
        width: 100%;
        padding: 0 25px;
    }
    .btns {
        order: 2;
        padding-right: 25px;
    }
}

@media (max-width: 576px) {
    .header-content {
        padding-top: 10px;
        padding-bottom: 18px;
    }
    .list > a {
        font-size: 16px;
    }
}
@media (max-width: 430px) {
    header {
        border: none;
    }
    .header-content {
        padding-top: 10px;
        padding-bottom: 15px;
        & > a {
            width: 100%;
            padding: 0;
            text-align: center;
        }
    }
    .burger {
        order: 2;
        margin-left: 15px;
        display: block;
        width: 30px;
        height: 30px;
    }
    .btns {
        padding-right: 15px;
    }
    .list {
        display: none;
        &-mob {
            display: flex;
            height: 100vh;
            justify-content: flex-start;
            flex-direction: column;
            align-items: start;
            gap: 22px;
            padding: 15px;
            position: absolute;
            right: -100%;
            top: 48px;
            background-color: #ebebeb;
            transition: all .3s ease-in-out;
            &>a{
                margin-bottom: 28px;
            }
        }
    }
    .mob-line-2 {
        display: inline-block;
        width: 100%;
        height: 1px;
        background-color: #dddddd;
        order: 2;
    }
}
