@import "/src/assets/styles/_vars.scss";
.container {
    max-width: 1070px;
    margin: 0 auto;
    padding: 0 20px;
}
header {
    border-bottom: 1px solid #ddd;
}
.header-content {
    margin-top: 29px;
    margin-bottom: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.list {
    display: flex;
    align-items: center;
    gap: 60px;
}
.list > a {
    color: $primaryTextColor;
    font-size: 20px;
    font-weight: 400;
}
