@import "/src/assets/styles/_vars.scss";
.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}
.content {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: 400;
    & h1 {
        color: $primaryTextColor;
        font-size: 60px;
    }
    & p {
        color: #85859b;
        max-width: 445px;
        font-size: 18px;
        line-height: 150%; /* 27px */
    }

}

@media (max-width: 768px) {
    .container {
        max-width: 730px;
    }
    .text {
        & h1 {
            font-size: 50px;
        }
        & p {
            max-width: 100%;
        }
    }
}

@media (max-width: 576px) {
    .content {
        margin-top: 20px;
        text-align: center;
        & img {
            display: none;
        }
    }
    .container {
        max-width: 550px;
    }
    .text {
        gap: 20px;
        & h1 {
            font-size: 38px;
        }
        & p {
            font-size: 16px;
        }
        & button{
            margin: 0 auto;
        }
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 320px;
        padding: 0 15px;
    }
    .content {
        margin-top: 49px;
        margin-bottom: 49px;
    }
    .text {
        gap: 15px;
        & h1 {
            font-size: 30px;
        }
        & p {
            font-size: 14px;
        }
    }
}
